<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    
    <h1 class="heading">INDEX PAGE</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde corrupti minima totam ad vel earum reprehenderit repudiandae laudantium, 
        omnis similique rerum officia veritatis, suscipit illum, ullam in natus libero consequuntur.

    </p>
</body>
</html>