<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="//cdn.datatables.net/2.1.8/css/dataTables.dataTables.min.css">

</head>

<body>


    <form action="/products" method="post">
       
            <label for="exampleInputEmail1" >NAME OF THE PRODUCT</label>
            <input type="TEXT"  id="exampleInputEmail1" aria-describedby="emailHelp"
                name="pname">
        
       
            <label for="exampleInputPassword1" >BUYING PRICE</label>
            <input type="number"  id="exampleInputPassword1"name="bp">
      
       
            <label for="exampleInputPassword1" >SELLING PRICE</label>
            <input type="number"  id="exampleInputPassword1"name="sp">
      
       
            <label for="exampleInputPassword1" >STOCK QUANTITY</label>
            <input type="number"  id="exampleInputPassword1"name="st">
        

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>




    <table border="2" id="myTable">
        <thead>
            <tr>
                <th>ID</th>
                <th>NAME</th>
                <th>Buying price</th>
                <th>Selling price</th>
                <th>Stock quantity</th>
            </tr>
        </thead>
        <tbody>
            {% for p in myproducts %}
            <tr>
                <td> {{p[0]}}</td>
                <td> {{p[1]}}</td>
                <td> {{p[2]}}</td>
                <td> {{p[3]}}</td>
                <td> {{p[4]}}</td>
                <td> {{p[5]}}</td>

            </tr>
            {% endfor%}

        </tbody>
    </table>




</body>
<script>//cdn.datatables.net/2.1.8/js/dataTables.min.js</script>
</html>